#form-div{
    border: 2px solid #212529;
    width: 60%;
    margin: 5% auto;
    border-radius: 15px;
    overflow: hidden;
}
#submit-container{
    width: 100%;
    text-align: center;
}

#submit-btn{
    margin: 2% 0 0;
    width: 10%;
    border-radius: 25px;
}

#submit-btn:hover{
    background-color: #007bff ;
    transition: 0.7s;
}

form{
    margin: 20px 20px;
}

#heading-div{
    display: flex;
    justify-content: center;
}

h1{
    line-height: 48px;
    letter-spacing: -2px;
}
