{% extends 'base.html' %}

{% load static %}

{% block title %} My URLs {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'my_urls/my_urls.css' %}">
<link rel="stylesheet" href="{% static 'nav/nav.css' %}">
{% endblock %}


{% block content %}

<div id="heading-div">
  <h1>My URLs</h1>
</div>
<hr>

<div id="urls-containter">
    
    {% for object in objects %}

    <div class="url-containter">
        <div class="form-group">
            <label for="longURL">Long URL</label>
            <input type="url" class="form-control" name="longURL" id="longURL" aria-describedby="emailHelp" placeholder="Enter Long URL" readonly value={{object.long_url}}>
          </div>
          <div class="form-group">
            <label for="shortURL">Short URL</label>
            <input type="text" class="form-control" id="shortURL" name="shortURL" placeholder="Short URL" readonly value="http://127.0.0.1:8000/{{object.short_url}}">
          </div>
          <div class="form-group">
            <label for="visits">Visits</label>
            <input type="text" class="form-control" value={{object.visits}} readonly>
          </div>
          <div class="form-group" id="qrcode-div">
            <img src="{{object.qrcode.url}}" alt="qrcode" width="100px" height="100px">
          </div>
          <div class="shortURL-buttons">
            <button type="button" class="btn btn-dark short-buttons" value="http://127.0.0.1:8000/{{object.short_url}}" onclick="visits(this)" >Visit</button>
            <button type="button" class="btn btn-primary short-buttons" value="http://127.0.0.1:8000/{{object.short_url}}" onclick="copy(this)">Copy</button>
            <button type="button" value="{{object.id}}" class="btn btn-danger short-buttons" onclick="deleteURL(this)">delete</button>
          </div>
    </div>

    {% endfor %}


    
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'my_urls/my_urls.js' %}"></script>
{% endblock %}